body{
	background-color: #424242;
}

header, footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #303030;
	height: 10vw;
}

legend, fieldset{
	color: black;
}

#global{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around; 

	width: 90vw;
}

.row{
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 13vw;
	height: 2.5vw;

	border-radius: 1.25vw;

	background-color: #303030;
}

#input{
	background-color: #202020;
}

#code{
	background-color: #202020;
}

.input{
	cursor: pointer;
	transition: .5s;
}

.input:hover{
	border-radius: 20%;
}

.slot{
	width: 2vw;
	height: 2vw;

	border-radius: 50%;

	background-color: #424242;
}

.code{
	background-color: #101010;
}

.slotInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 2vw;
	height: 2vw;

	border-radius: 20%;

	background-color: #424242;

	transition: .5s;
}

#okButton{
	cursor: pointer;
}

#okButton:hover{
	background-color: white;
}

#gameState{
	background-color: #101010;
}

.dot{
	width: 1vw;
	height: 1vw;

	border-radius: 50%;

	background-color: #303030;
}

#retour{
	font-size: 3em;
	color: white;
	transition: .5s;
}

#retour:hover{
	color: #ffaa00;
}

.titre{
	color: white;
	font-size: 3em;
}