body{
	background-color: #424242;
}

header, footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #303030;
	height: 10vw;
}

legend, fieldset{
	color: black;
}

#matrice{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	width: 30vw;
	height: 30vw;
}

.case{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 9vw;
	height: 9vw;
	font-size: 10vw;
	border-radius: 1vw;

	background-color: grey;
	transition: .5s;
	cursor: pointer;
	box-shadow: 10px 5px 5px black;
}

.case:hover{
	color: white;
	box-shadow: 10px 5px 5px white;
}

#optionLigne{
	width: 10vw;
	height: 30vw;
}

#optionColonne{
	display: flex;
	flex-direction: row;
}

#global{
	display: flex;
	flex-direction: row;

	width: 100vw;
	height: 30vw;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 8vw;
	height: 8vw;

	background-color: grey;
	border-radius: 50%;

	margin-top: 1vw;
	margin-bottom: 2vw;
	margin-left: 1vw;
	margin-right: 1vw;

	box-shadow: 10px 5px 5px black;

	transition: .5s;
	cursor: pointer;
}

.button:hover{
	color: white;
	box-shadow: 10px 5px 5px white;
}

.diag{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 8vw;
	height: 8vw;

	background-color: grey;
	border-radius: 25%;

	margin-top: 1vw;
	margin-bottom: 2vw;
	margin-left: 1vw;
	margin-right: 1vw;

	transition: .5s;
}